out/
.idea/
*.iml
TODO.txt
src/_tmp*

# Visual C++ project files:
.vs/
*.sln
*.vcxproj*
Debug
x64

# This is where I start solving a problem.
# Once finished, it will be moved to archives/.
#/Solution.cpp
